@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #0f172a; /* Slate 900 - Dark Cinematic Background */
  color: #e2e8f0;
}